[Unit]
Description=RPi MagicMirror EInk

[Service]
WorkingDirectory=/home/pi/rpi-magicmirror-eink/
ExecStart=/home/pi/rpi-magicmirror-eink/run.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
